{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-6 py-16">
    <h2 class="text-4xl font-bold text-green-500 mb-8 text-center">My Savings Goals</h2>
    <div class="flex justify-center mb-10">
        <a href="{% url 'add_account' %}" class="bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-full transition">Add New Goal</a>
    </div>
    <div class="grid grid-cols-1 gap-8">
        {% for account in accounts %}
            <div class="bg-green-700 p-6 rounded-lg shadow-2xl">
                <div class="flex justify-between items-center">
                    <h3 class="text-2xl font-semibold text-green-300">{{ account.name }}</h3>
                    {% if account.goal_reached %}
                        <span class="bg-green-500 text-white px-4 py-1 rounded-full">Goal Reached!</span>
                    {% endif %}
                </div>
                <p class="text-green-300 mt-4">Balance: {{ account.balance }} / Goal: {{ account.goal }}</p>
                <div id="progress-{{ forloop.counter }}" class="myProgress mt-4">
                    <div class="myBar"></div>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var balance = {{ account.balance }};
                        var goal = {{ account.goal }};
                        var progress = Math.round((balance / goal) * 100);
                        var progressBar = document.querySelector('#progress-{{ forloop.counter }} .myBar');
                        progressBar.style.width = progress + '%';
                        progressBar.textContent = progress + '%';
                    });
                </script>
                <style>
                    #progress-{{ forloop.counter }} {
                      width: 100%;
                      background-color: #001603;  
                    }
                    
                    #progress-{{ forloop.counter }} .myBar {
                      height: 30px;
                      background-color: #169547;
                      text-align: center;
                      line-height: 30px;
                      color: rgb(255, 255, 255);
                    }
                </style>
                <div class="flex justify-end mt-6">
                    <a href="{% url 'account_detail' account.pk %}" class="text-green-300 hover:text-green-400 transition">Details</a>
                </div>
            </div>
        {% empty %}
            <p class="text-green-300">You have no goals.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
