<!-- templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Dreams Calculator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
            Hello, {{ user.username }}!
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit"
                    style="background: none; border: none; padding: 0; cursor: pointer; color: #007bff; text-decoration: underline;">
                    Logout
                </button>
            </form>
            {% else %}
            <button><a href="{% url 'login' %}">Login</a></button>
            <button><a href="{% url 'register' %}">Registraition</a></button>
            {% endif %}
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>

</html>